@breakpoints {
  .ai-start {
    align-items: start;
  }

  .ai-center {
    align-items: center;
  }

  .ai-end {
    align-items: end;
  }

  .ai-baseline {
    align-items: baseline;
  }

  .ai-stretch {
    align-items: stretch;
  }
}
