@breakpoints {
  .jc-start {
    justify-content: start;
  }

  .jc-center {
    justify-content: center;
  }

  .jc-end {
    justify-content: end;
  }

  .jc-space-between {
    justify-content: space-between;
  }
}
