@breakpoints {
  .ds-m-0 {
    margin: 0;
  }

  .ds-m-1 {
    margin: var(--space-1);
  }

  .ds-m-2 {
    margin: var(--space-2);
  }

  .ds-m-3 {
    margin: var(--space-3);
  }

  .ds-m-4 {
    margin: var(--space-4);
  }

  .ds-m-5 {
    margin: var(--space-5);
  }

  .ds-m-6 {
    margin: var(--space-6);
  }

  .ds-m-7 {
    margin: var(--space-7);
  }

  .ds-m-8 {
    margin: var(--space-8);
  }

  .ds-m-9 {
    margin: var(--space-9);
  }

  .-ds-m-1 {
    margin: calc(-1 * var(--space-1));
  }

  .-ds-m-2 {
    margin: calc(-1 * var(--space-2));
  }

  .-ds-m-3 {
    margin: calc(-1 * var(--space-3));
  }

  .-ds-m-4 {
    margin: calc(-1 * var(--space-4));
  }

  .-ds-m-5 {
    margin: calc(-1 * var(--space-5));
  }

  .-ds-m-6 {
    margin: calc(-1 * var(--space-6));
  }

  .-ds-m-7 {
    margin: calc(-1 * var(--space-7));
  }

  .-ds-m-8 {
    margin: calc(-1 * var(--space-8));
  }

  .-ds-m-9 {
    margin: calc(-1 * var(--space-9));
  }

  .ds-mx-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .ds-mx-1 {
    margin-left: var(--space-1);
    margin-right: var(--space-1);
  }

  .ds-mx-2 {
    margin-left: var(--space-2);
    margin-right: var(--space-2);
  }

  .ds-mx-3 {
    margin-left: var(--space-3);
    margin-right: var(--space-3);
  }

  .ds-mx-4 {
    margin-left: var(--space-4);
    margin-right: var(--space-4);
  }

  .ds-mx-5 {
    margin-left: var(--space-5);
    margin-right: var(--space-5);
  }

  .ds-mx-6 {
    margin-left: var(--space-6);
    margin-right: var(--space-6);
  }

  .ds-mx-7 {
    margin-left: var(--space-7);
    margin-right: var(--space-7);
  }

  .ds-mx-8 {
    margin-left: var(--space-8);
    margin-right: var(--space-8);
  }

  .ds-mx-9 {
    margin-left: var(--space-9);
    margin-right: var(--space-9);
  }

  .-ds-mx-1 {
    margin-left: calc(-1 * var(--space-1));
    margin-right: calc(-1 * var(--space-1));
  }

  .-ds-mx-2 {
    margin-left: calc(-1 * var(--space-2));
    margin-right: calc(-1 * var(--space-2));
  }

  .-ds-mx-3 {
    margin-left: calc(-1 * var(--space-3));
    margin-right: calc(-1 * var(--space-3));
  }

  .-ds-mx-4 {
    margin-left: calc(-1 * var(--space-4));
    margin-right: calc(-1 * var(--space-4));
  }

  .-ds-mx-5 {
    margin-left: calc(-1 * var(--space-5));
    margin-right: calc(-1 * var(--space-5));
  }

  .-ds-mx-6 {
    margin-left: calc(-1 * var(--space-6));
    margin-right: calc(-1 * var(--space-6));
  }

  .-ds-mx-7 {
    margin-left: calc(-1 * var(--space-7));
    margin-right: calc(-1 * var(--space-7));
  }

  .-ds-mx-8 {
    margin-left: calc(-1 * var(--space-8));
    margin-right: calc(-1 * var(--space-8));
  }

  .-ds-mx-9 {
    margin-left: calc(-1 * var(--space-9));
    margin-right: calc(-1 * var(--space-9));
  }

  .ds-my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .ds-my-1 {
    margin-top: var(--space-1);
    margin-bottom: var(--space-1);
  }

  .ds-my-2 {
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
  }

  .ds-my-3 {
    margin-top: var(--space-3);
    margin-bottom: var(--space-3);
  }

  .ds-my-4 {
    margin-top: var(--space-4);
    margin-bottom: var(--space-4);
  }

  .ds-my-5 {
    margin-top: var(--space-5);
    margin-bottom: var(--space-5);
  }

  .ds-my-6 {
    margin-top: var(--space-6);
    margin-bottom: var(--space-6);
  }

  .ds-my-7 {
    margin-top: var(--space-7);
    margin-bottom: var(--space-7);
  }

  .ds-my-8 {
    margin-top: var(--space-8);
    margin-bottom: var(--space-8);
  }

  .ds-my-9 {
    margin-top: var(--space-9);
    margin-bottom: var(--space-9);
  }

  .-ds-my-1 {
    margin-top: calc(-1 * var(--space-1));
    margin-bottom: calc(-1 * var(--space-1));
  }

  .-ds-my-2 {
    margin-top: calc(-1 * var(--space-2));
    margin-bottom: calc(-1 * var(--space-2));
  }

  .-ds-my-3 {
    margin-top: calc(-1 * var(--space-3));
    margin-bottom: calc(-1 * var(--space-3));
  }

  .-ds-my-4 {
    margin-top: calc(-1 * var(--space-4));
    margin-bottom: calc(-1 * var(--space-4));
  }

  .-ds-my-5 {
    margin-top: calc(-1 * var(--space-5));
    margin-bottom: calc(-1 * var(--space-5));
  }

  .-ds-my-6 {
    margin-top: calc(-1 * var(--space-6));
    margin-bottom: calc(-1 * var(--space-6));
  }

  .-ds-my-7 {
    margin-top: calc(-1 * var(--space-7));
    margin-bottom: calc(-1 * var(--space-7));
  }

  .-ds-my-8 {
    margin-top: calc(-1 * var(--space-8));
    margin-bottom: calc(-1 * var(--space-8));
  }

  .-ds-my-9 {
    margin-top: calc(-1 * var(--space-9));
    margin-bottom: calc(-1 * var(--space-9));
  }

  .ds-mt-0 {
    margin-top: 0;
  }

  .ds-mt-1 {
    margin-top: var(--space-1);
  }

  .ds-mt-2 {
    margin-top: var(--space-2);
  }

  .ds-mt-3 {
    margin-top: var(--space-3);
  }

  .ds-mt-4 {
    margin-top: var(--space-4);
  }

  .ds-mt-5 {
    margin-top: var(--space-5);
  }

  .ds-mt-6 {
    margin-top: var(--space-6);
  }

  .ds-mt-7 {
    margin-top: var(--space-7);
  }

  .ds-mt-8 {
    margin-top: var(--space-8);
  }

  .ds-mt-9 {
    margin-top: var(--space-9);
  }

  .-ds-mt-1 {
    margin-top: calc(-1 * var(--space-1));
  }

  .-ds-mt-2 {
    margin-top: calc(-1 * var(--space-2));
  }

  .-ds-mt-3 {
    margin-top: calc(-1 * var(--space-3));
  }

  .-ds-mt-4 {
    margin-top: calc(-1 * var(--space-4));
  }

  .-ds-mt-5 {
    margin-top: calc(-1 * var(--space-5));
  }

  .-ds-mt-6 {
    margin-top: calc(-1 * var(--space-6));
  }

  .-ds-mt-7 {
    margin-top: calc(-1 * var(--space-7));
  }

  .-ds-mt-8 {
    margin-top: calc(-1 * var(--space-8));
  }

  .-ds-mt-9 {
    margin-top: calc(-1 * var(--space-9));
  }

  .ds-mr-0 {
    margin-right: 0;
  }

  .ds-mr-1 {
    margin-right: var(--space-1);
  }

  .ds-mr-2 {
    margin-right: var(--space-2);
  }

  .ds-mr-3 {
    margin-right: var(--space-3);
  }

  .ds-mr-4 {
    margin-right: var(--space-4);
  }

  .ds-mr-5 {
    margin-right: var(--space-5);
  }

  .ds-mr-6 {
    margin-right: var(--space-6);
  }

  .ds-mr-7 {
    margin-right: var(--space-7);
  }

  .ds-mr-8 {
    margin-right: var(--space-8);
  }

  .ds-mr-9 {
    margin-right: var(--space-9);
  }

  .-ds-mr-1 {
    margin-right: calc(-1 * var(--space-1));
  }

  .-ds-mr-2 {
    margin-right: calc(-1 * var(--space-2));
  }

  .-ds-mr-3 {
    margin-right: calc(-1 * var(--space-3));
  }

  .-ds-mr-4 {
    margin-right: calc(-1 * var(--space-4));
  }

  .-ds-mr-5 {
    margin-right: calc(-1 * var(--space-5));
  }

  .-ds-mr-6 {
    margin-right: calc(-1 * var(--space-6));
  }

  .-ds-mr-7 {
    margin-right: calc(-1 * var(--space-7));
  }

  .-ds-mr-8 {
    margin-right: calc(-1 * var(--space-8));
  }

  .-ds-mr-9 {
    margin-right: calc(-1 * var(--space-9));
  }

  .ds-mb-0 {
    margin-bottom: 0;
  }

  .ds-mb-1 {
    margin-bottom: var(--space-1);
  }

  .ds-mb-2 {
    margin-bottom: var(--space-2);
  }

  .ds-mb-3 {
    margin-bottom: var(--space-3);
  }

  .ds-mb-4 {
    margin-bottom: var(--space-4);
  }

  .ds-mb-5 {
    margin-bottom: var(--space-5);
  }

  .ds-mb-6 {
    margin-bottom: var(--space-6);
  }

  .ds-mb-7 {
    margin-bottom: var(--space-7);
  }

  .ds-mb-8 {
    margin-bottom: var(--space-8);
  }

  .ds-mb-9 {
    margin-bottom: var(--space-9);
  }

  .-ds-mb-1 {
    margin-bottom: calc(-1 * var(--space-1));
  }

  .-ds-mb-2 {
    margin-bottom: calc(-1 * var(--space-2));
  }

  .-ds-mb-3 {
    margin-bottom: calc(-1 * var(--space-3));
  }

  .-ds-mb-4 {
    margin-bottom: calc(-1 * var(--space-4));
  }

  .-ds-mb-5 {
    margin-bottom: calc(-1 * var(--space-5));
  }

  .-ds-mb-6 {
    margin-bottom: calc(-1 * var(--space-6));
  }

  .-ds-mb-7 {
    margin-bottom: calc(-1 * var(--space-7));
  }

  .-ds-mb-8 {
    margin-bottom: calc(-1 * var(--space-8));
  }

  .-ds-mb-9 {
    margin-bottom: calc(-1 * var(--space-9));
  }

  .ds-ml-0 {
    margin-left: 0;
  }

  .ds-ml-1 {
    margin-left: var(--space-1);
  }

  .ds-ml-2 {
    margin-left: var(--space-2);
  }

  .ds-ml-3 {
    margin-left: var(--space-3);
  }

  .ds-ml-4 {
    margin-left: var(--space-4);
  }

  .ds-ml-5 {
    margin-left: var(--space-5);
  }

  .ds-ml-6 {
    margin-left: var(--space-6);
  }

  .ds-ml-7 {
    margin-left: var(--space-7);
  }

  .ds-ml-8 {
    margin-left: var(--space-8);
  }

  .ds-ml-9 {
    margin-left: var(--space-9);
  }

  .-ds-ml-1 {
    margin-left: calc(-1 * var(--space-1));
  }

  .-ds-ml-2 {
    margin-left: calc(-1 * var(--space-2));
  }

  .-ds-ml-3 {
    margin-left: calc(-1 * var(--space-3));
  }

  .-ds-ml-4 {
    margin-left: calc(-1 * var(--space-4));
  }

  .-ds-ml-5 {
    margin-left: calc(-1 * var(--space-5));
  }

  .-ds-ml-6 {
    margin-left: calc(-1 * var(--space-6));
  }

  .-ds-ml-7 {
    margin-left: calc(-1 * var(--space-7));
  }

  .-ds-ml-8 {
    margin-left: calc(-1 * var(--space-8));
  }

  .-ds-ml-9 {
    margin-left: calc(-1 * var(--space-9));
  }
}