.Badge {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 9999px;
  white-space: nowrap;
  font-weight: var(--fw-2);
  flex-shrink: 0;
  line-height: 1;
  user-select: none;
  gap: var(--space-1);
}

.Badge.size-1 {
  height: var(--space-5);
  font-size: var(--fs-1);
  padding-left: var(--space-2);
  padding-right: var(--space-2);
}

.Badge.size-2 {
  height: var(--space-6);
  font-size: var(--fs-2);
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}

.Badge.gray {
  background-color: var(--gray-a3);
  color: var(--gray-a11);
}

.Badge.purple {
  background-color: var(--purple-3);
  color: var(--purple-11);
}

.Badge.blue {
  background-color: var(--blue-3);
  color: var(--blue-11);
}

.Badge.green {
  background-color: var(--green-3);
  color: var(--green-11);
}

.Badge.yellow {
  background-color: var(--yellow-3);
  color: var(--yellow-11);
}

.Badge.red {
  background-color: var(--red-3);
  color: var(--red-11);
}

.Badge.orange {
  background-color: var(--orange-3);
  color: var(--orange-11);
}

.Badge.bronze {
  background-color: var(--bronze-3);
  color: var(--bronze-11);
}

.Badge.gold {
  background-color: var(--gold-3);
  color: var(--gold-11);
}