.Button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-weight: var(--fw-2);
  flex-shrink: 0;
  line-height: 1;
  user-select: none;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  background-clip: padding-box;
}

.Button.size-1 {
  height: var(--space-6);
  font-size: var(--fs-1);
  padding-left: var(--space-2);
  padding-right: var(--space-2);
  border-radius: var(--br-2);
  gap: var(--space-1);
}

.Button.size-2 {
  height: var(--space-7);
  font-size: var(--fs-2);
  padding-left: var(--space-3);
  padding-right: var(--space-3);
  border-radius: var(--br-2);
  gap: var(--space-2);
}

.Button.size-3 {
  height: var(--space-8);
  font-size: var(--fs-3);
  padding-left: var(--space-4);
  padding-right: var(--space-4);
  border-radius: var(--br-2);
  gap: var(--space-3);
}

.Button.gray,
.Button.green,
.Button.red {
  background-color: white;
  color: var(--mauve-text-2);
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-a6);
  box-shadow: 0 1px 2px -1px hsl(263 50% 32% / 12%), 0 1px 4px -3px hsl(263 50% 32% / 12%);
}

.Button.gray[data-hovered],
.Button.green[data-hovered],
.Button.red[data-hovered] {
  border-color: var(--gray-a7);
  box-shadow: 0 1px 2px -1px hsl(263 50% 32% / 12%), 0 1px 4px -1px hsl(263 50% 32% / 12%);
}

.Button.gray[data-pressed],
.Button.green[data-pressed],
.Button.red[data-pressed] {
  background-color: var(--mauve-area-1);
  border-color: var(--gray-a7);
  box-shadow: inset 0 1px 2px -.5px hsl(263 50% 32% / 12%);
}

.Button.blue {
  background-color: var(--blue-pure-1);
  border-width: 1px;
  border-style: solid;
  border-color: var(--blue-pure-3);
  box-shadow: 0 1px 2px -1px hsl(263 50% 32% / 12%), 0 1px 4px -3px hsl(263 50% 32% / 12%), inset 1px 1px 0 0 rgba(255,255,255,.3);
  color: white;
}

.Button.blue[data-hovered] {
  background-color: var(--blue-pure-2);
  box-shadow: 0 1px 2px -1px hsl(263 50% 32% / 12%), 0 1px 4px -1px hsl(263 50% 32% / 12%), inset 1px 1px 0 0 rgba(255, 255, 255, .3);
}

.Button.blue[data-pressed] {
  background-color: var(--blue-pure-2);
  box-shadow: inset 0 0 0 1px var(--blue-5);
}

.Button.green {
  color: var(--green-11);
}

.Button.red {
  color: var(--red-11);
}

.Button.ghost {
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: var(--gray-a11);
}

.Button.ghost[data-hovered] {
  box-shadow: none;
}

.Button.gray.ghost {
  color: var(--gray-a11);
}

.Button.gray.ghost[data-hovered] {
  background-color: var(--gray-a3);
}

.Button.gray.ghost[data-pressed] {
  background-color: var(--gray-a4);
}

.Button.blue.ghost {
  color: var(--blue-text-1);
}

.Button.blue.ghost[data-hovered] {
  background-color: var(--blue-bg-3);
}

.Button.blue.ghost[data-pressed] {
  background-color: var(--blue-bg-4);
}

.Button.green.ghost {
  color: var(--green-11);
}

.Button.green.ghost[data-hovered] {
  background-color: var(--green-3);
}

.Button.green.ghost[data-pressed] {
  background-color: var(--green-4);
}

.Button.red.ghost {
  color: var(--red-11);
}

.Button.red.ghost[data-hovered] {
  background-color: var(--red-3);
}

.Button.red.ghost[data-pressed] {
  background-color: var(--red-4);
}

.Button[data-focus-visible] {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--blue-stroke-4);
  outline-offset: 2px;
}

.Button[data-disabled] {
  background-color: var(--gray-a2);
  border-color: var(--gray-a6);
  color: var(--gray-a8);
  cursor: not-allowed;
}